<div class="form-Main">
    <div class="container">
        <form class="formsales">
            <h4>Contact an DCG sales representative today</h4>
            <div class="formfields">
                <div class="halfArea">
                    <label>First Name</label>
                    <input type="text" name="first-name">
                </div>
                <div class="halfArea">
                    <label>Last Name</label>
                    <input type="text" name="last-name">
                </div>
                <div class="halfArea">
                    <label>Business email</label>
                    <input type="email" name="bussiness-email">
                </div>
                <div class="halfArea">
                    <label>Phone</label>
                    <input type="tel" name="phone">
                </div>

                <div class="halfArea">
                    <label>Country</label>
                    <select name="country">
                        <option>1</option>
                    </select>
                </div>

                <div class="halfArea">
                    <label>State</label>
                    <select name="state">
                        <option>1</option>
                    </select>
                </div>
                <div class="fullArea">
                    <label>Company</label>
                    <input type="text" name="company">
                </div>
                <div class="fullArea">
                    <label>Message</label>
                    <textarea name="message"></textarea>
                </div>
                <div class="fullArea">
                    <input type="submit" value="Submit">

                </div>
            </div>
        </form>
    </div>
</div>