<header role="header">
    <mat-toolbar class="container customToolbar">
        <div class="mainlogo">
            <!-- Logo Section -->
            <img src="assets/DCG_Logo.svg" alt="Logo" class="header-logo" />
        </div>
        <!-- Hamburger icon for mobile -->
        <button mat-icon-button (click)="toggleMenu()" class="mobile-menu">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- Mobile Menu -->
        <mat-menu #menu="matMenu" class="navbar-menu menu">
            <button mat-menu-item routerLink="/home">What we do</button>
            <button mat-menu-item routerLink="/about">Who are we</button>
            <button mat-menu-item routerLink="/services">Careers</button>
            <button mat-menu-item routerLink="/contact">Contact Us</button>
        </mat-menu>

    </mat-toolbar>
</header>