<header role="header">
    <mat-toolbar class="container customToolbar app-toolbar">
        <div class="mainlogo">
            <!-- Logo Section -->
            <img src="assets/DCG_Logo.svg" alt="Logo" class="header-logo" />
        </div>

        <!-- Desktop Menu -->
        <div class="desktop-menu">
            <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a mat-button routerLink="/rfid" routerLinkActive="active">RFID</a>
            <!--<a mat-button routerLink="/home" routerLinkActive="active">What we do</a>
            <a mat-button routerLink="/about" routerLinkActive="active">Who are we</a>
            <a mat-button routerLink="/services" routerLinkActive="active">Careers</a>
            <a mat-button routerLink="/contact" routerLinkActive="active">Contact Us</a>-->
        </div>

        <!-- Hamburger icon for mobile -->
        <button *ngIf="isMobile" mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
            <mat-icon>menu</mat-icon>
        </button>

        <!-- Mobile Menu -->
        <mat-menu #menu="matMenu" xPosition="before" yPosition="below" class="navbar-menu menu">
            <a mat-menu-item routerLink="/what-we-do" routerLinkActive="active">What we do</a>
            <a mat-menu-item routerLink="/who-are-we" routerLinkActive="active">Who are we</a>
            <a mat-menu-item routerLink="/careers" routerLinkActive="active">Careers</a>
            <a mat-menu-item routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        </mat-menu>
    </mat-toolbar>
</header>