<header role="header">
    <mat-toolbar class="container customToolbar">

        <div class="mainlogo">
            <!-- Logo Section -->
            <img src="assets/DCG_Logo.svg" alt="Logo" class="header-logo" />
        </div>
        <!-- Navigation Menu -->
        <div class="menu">
            <a class="active" mat-button routerLink="/home">What we do</a>
            <a mat-button routerLink="/about">Who are we</a>
            <a mat-button routerLink="/services">Careers</a>
            <a mat-button routerLink="/contact">Contact Us</a>
        </div>
    </mat-toolbar>
</header>