<footer class="main-footer">
    <div class="container">
    <!-- Footer Logo -->
      <div class="topLogo">
        <img src="assets/DCG_Logo_all_white.svg" alt="">
      </div>
    <!-- Footer Content Under Banner -->
      <div class="footerContent">

            <!-- Footer Orange Text -->
            <div class="contentFooter">
                <h3>Simplifying technology for business growth.</h3>
            </div>
            <!-- Footer Menus -->
            <div class="MenuArea">
                <!-- Menu Col First -->
                <div class="menuData">
                    <a href="#">About DCG</a>
                    <a href="#">Careers</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                </div>
                <!-- Menu Col Second -->
                <div class="menuData">
                    <a href="#">Services</a>
                    <a href="#">Cloud Computing</a>
                    <a href="#">Enterprise Solutions</a>
                    <a href="#">DevOps</a>
                    <a href="#">Digital Transformation</a>
                    <a href="#">Artificial Intelligence(AI)</a>
                    <a href="#">Strategy</a>
                    <a href="#">Internet of Things (IoT)</a>
                </div>
                <!-- Menu Col Last -->
                <div class="menuData">
                    <a href="#">Industries</a>
                    <a href="#">Construction</a>
                    <a href="#">Manufacturing</a>
                    <a href="#">Healthcare</a>
                    <a href="#">Education</a>
                    <a href="#">Oil & Gas</a>
                </div>
            </div>
      </div>
      <!-- Copyright Text -->
      <div class="copyright">
        <p>2024 Dham Consulting Group (DCG) Corporation. All Rights Reserved.</p>
      </div>
    </div>
</footer>
