<section class="serviceMain">
    <div class="container">
        <h3>Some of our capabilities</h3>
        <div class="serviceRow">
            <mat-card class="cardMatData">
                <mat-card-content>
                    <h2>01.</h2>
                    <p>Cloud Computing</p>
                </mat-card-content>
                <mat-card-footer>
                    <img src="assets/Cloud-Computing.svg" alt="">
                    <button class="btn"><img mat-card-image src="assets/rightBlack-arrow.svg" alt=""></button>
                </mat-card-footer>
            </mat-card>

            <mat-card class="cardMatData">
                <mat-card-content>
                    <h2>02.</h2>
                    <p>System Integrations</p>
                </mat-card-content>
                <mat-card-footer>
                    <img src="assets/02.svg" alt="">
                    <button class="btn"><img mat-card-image src="assets/rightBlack-arrow.svg" alt=""></button>
                </mat-card-footer>
            </mat-card>

            <mat-card class="cardMatData">
                <mat-card-content>
                    <h2>03.</h2>
                    <p>Digital Transformation</p>
                </mat-card-content>
                <mat-card-footer>
                    <img src="assets/03.svg" alt="">
                    <button class="btn"><img mat-card-image src="assets/rightBlack-arrow.svg" alt=""></button>
                </mat-card-footer>
            </mat-card>

            <mat-card class="cardMatData">
                <mat-card-content>
                    <h2>04.</h2>
                    <p>Artificial Intelligence (AI)</p>
                </mat-card-content>
                <mat-card-footer>
                    <img src="assets/04.svg" alt="">
                    <button class="btn"><img mat-card-image src="assets/rightBlack-arrow.svg" alt=""></button>
                </mat-card-footer>
            </mat-card>
        </div>

        <div class="serviceRow">
            <mat-card class="cardMatData">
                <mat-card-content>
                    <h2>05.</h2>
                    <p>Enterprise Solutions</p>
                </mat-card-content>
                <mat-card-footer>
                    <img src="assets/05.svg" alt="">
                    <button class="btn"><img mat-card-image src="assets/rightBlack-arrow.svg" alt=""></button>
                </mat-card-footer>
            </mat-card>

            <mat-card class="cardMatData">
                <mat-card-content>
                    <h2>06.</h2>
                    <p>Access Control</p>
                </mat-card-content>
                <mat-card-footer>
                    <img src="assets/06.svg" alt="">
                    <button class="btn"><img mat-card-image src="assets/rightBlack-arrow.svg" alt=""></button>
                </mat-card-footer>
            </mat-card>

            <mat-card class="cardMatData">
                <mat-card-content>
                    <h2>07.</h2>
                    <p>Internet of Things (IoT)</p>
                </mat-card-content>
                <mat-card-footer>
                    <img src="assets/07.svg" alt="">
                    <button class="btn"><img mat-card-image src="assets/rightBlack-arrow.svg" alt=""></button>
                </mat-card-footer>
            </mat-card>

            <mat-card class="cardMatData">
                <mat-card-content>
                    <h2>08.</h2>
                    <p>IT Strategy Consulting</p>
                </mat-card-content>
                <mat-card-footer>
                    <img src="assets/08.svg" alt="">
                    <button class="btn"><img mat-card-image src="assets/rightBlack-arrow.svg" alt=""></button>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</section>