<section class="aboutBanner">
    <div class="container">
        <div class="DataTextMain">
            <div class="dataTextImage">
                <div class="text-bredcrumb">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About DCG</li>
                        </ul>
                    </nav>
                    <h2>About DCG</h2>
                </div>

                <p>Dham Consulting Group transforms technology into a powerful tool for business growth and innovation.
                </p>
            </div>
            <div class="imageRightData">
                <img src="assets/aboutBanner.png" alt="">
                <div class="titltText">Simplify It.</div>
            </div>
        </div>
    </div>
</section>
<app-about-scroll></app-about-scroll>