.contentArearfid {
    #why-dham {
        padding-bottom: 70px;

        .boxcapabilitys {
            .boxcapability {
                &:last-child {
                    @media (max-width:767px) {
                        display: none;
                    }
                }
            }
        }
    }

    #benfits-rfid {
        padding-top: 0;

        .boxcapabilitys {
            .slick-slider {
                .slide {
                    min-height: inherit;

                    p {
                        margin: 0;
                        min-height: 85px;
                    }
                }
            }
        }
    }
}