<section id="wdcg" class="workingDCG">
    <div class="container">
        <div class="flexDataContainer">
            <figure class="imageDCG">
                <img src="assets/image-working-dcg.jpg" alt="">
            </figure>
            <figcaption class="content-working-dcg">
                <h2><span>Working</span> at <span class="highlight">dcg</span></h2>
                <p>Discover how, at DCG, we unite to exchange diverse perspectives, foster both personal and
                    professional growth, and work
                    together to shape a brighter future for our people, clients, and the communities we serve.</p>
                <button class="customBtn">Learn more <img src="assets/right-arrow.svg" alt=""></button>
            </figcaption>
        </div>
    </div>
</section>