<section class="launchpad-small-bussiness">
    <div class="container">
        <div class="flexDataContainer">
            <figure class="imagePanel">
                <img src="assets/image1.png" alt="">
            </figure>
            <figcaption class="content-launchpad">
                <h4>LaunchPad for
                    <span>Small Businesses</span>
                </h4>
                <p>Your gateway to the digital world,
                    with seamless IT support and
                    tailored solutions for every need.</p>
                <button class="customBtn">Learn more <img src="assets/right-arrow.svg" alt=""></button>
            </figcaption>
        </div>
    </div>
</section>