<section class="Simplify-main">
    <div class="container">
        <div class="area-content-main">
            <div class="dataStyle">
                <h5>The trusted partner for real-time data that drives smarter decisions and agile growth.</h5>
                <p>Real-time data empowers organizations to make faster, more informed decisions, driving efficiency and
                    growth
                    by adapting
                    instantly to changing conditions. This agility allows businesses to stay competitive and proactive
                    in
                    their
                    strategies.</p>
                <button class="customBtn">Learn more <img src="assets/right-arrow.svg" alt=""></button>
            </div>
            <div class="tiltText">Simplify It.</div>
        </div>

    </div>
</section>