.contentArearfid {
    #why-dham {
        .boxcapabilitys {
            .boxcapability {
                &:last-child {
                    @media (max-width:767px) {
                        display: none;
                    }
                }
            }
        }
    }

    #benfits-rfid {
        .boxcapabilitys {
            .boxcapability {
                min-height: inherit;

                p {
                    min-height: 120px;
                }
            }
        }
    }
}