<div class="rfid-pages-main">
    <div class="mainBannerrfid">
        <div class="container">
            <div class="bannerData">
                <div class="bredcrumBanner">
                    <ul>
                        <li>
                            <a>Home</a>
                        </li>
                        <li>
                            <a>Solutions</a>
                        </li>
                        <li>
                            Internet of Things
                        </li>
                    </ul>
                </div>
                <h1>Empowering Connectivity: Internet of Things Solutions</h1>
                <p>Unlock the potential of interconnected devices with IoT solutions tailored to enhance efficiency,
                    improve
                    decision-making, and drive innovation for your business.</p>
            </div>
        </div>
        <button class="rac"><span>Request a Consultation</span> <svg width="41" height="16" viewBox="0 0 41 16"
                fill="none">
                <path
                    d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
                    fill="#FFFFFF" />
            </svg></button>
    </div>

    <div class="contentArearfid">

        <div class="areaContentData">


            <!-- Data Overview -->
            <div class="overview-capabilities">
                <div class="container areaSide">
                    <aside class="rfid-sidebar">
                        <ul>
                            <li *ngFor="let section of sections" [class.active]="activeSection === section.id">
                                <a href="javascript:void(0)" (click)="scrollToSection(section.id)">{{ section.name
                                    }}</a>
                            </li>

                            <div class="imageContentArea">
                                <h3>Connect with an expert today.</h3>
                                <img src="../../assets/lady-image.jpg" alt="">
                            </div>
                        </ul>


                    </aside>
                </div>
                <div class="container pleft">

                    <div id="overviewData">
                        <h2>{{ overview.title }}</h2>
                        <p>{{ overview.description }}</p>
                    </div>
                </div>
                <div id="capabilityData">
                    <div class="container pleft">
                        <h2>{{ capability.title }}</h2>
                        <p>{{ capability.description }}</p>
                        <ul class="boxcapabilitys">
                            <li class="boxcapability" *ngFor="let capability of capability.capabilities">
                                <h5>{{ capability.title }}</h5>
                                <p>{{ capability.description }}</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="processData" id="process">
                    <div class="container pleft">
                        <h2>{{ solutions.title }}</h2>
                        <p>{{ solutions.description }}</p>

                        <div class="boxcapabilitys">
                            <ngx-slick-carousel #slickModal="slick-carousel" style="width: 1080px;" class="carousel"
                                [config]="slideConfig">
                                <div ngxSlickItem class="slide slide-area-data boxcapability"
                                    *ngFor="let solution of solutions.solutionsArray">
                                    <h5>{{ solution.title }}</h5>
                                    <p>{{ solution.description }}</p>
                                </div>
                            </ngx-slick-carousel>

                        </div>
                        <!-- Custom Left Button -->
                        <button class="carousel-btn left" (click)="slickModal.slickPrev()">&#10094;</button>

                        <!-- Custom Right Button -->
                        <button class="carousel-btn right" (click)="slickModal.slickNext()">&#10095;</button>
                    </div>
                </div>

                <div id="benfits-rfid">
                    <div class="container pleft">
                        <h2>{{ benefits.title }}</h2>
                        <p>{{ benefits.description }}</p>
                        <div class="boxcapabilitys">
                            <ngx-slick-carousel #benfitsModal="slick-carousel" style="width: 1080px;" class="carousel"
                                [config]="slideConfig">

                                <div ngxSlickItem class="slide boxcapability"
                                    *ngFor="let benefit of benefits.benefitsArray">
                                    <h5>{{ benefit.title }}</h5>
                                    <p>{{ benefit.description }}</p>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                        <!-- Custom Left Button -->
                        <button class="carousel-btn left" (click)="benfitsModal.slickPrev()">&#10094;</button>

                        <!-- Custom Right Button -->
                        <button class="carousel-btn right" (click)="benfitsModal.slickNext()">&#10095;</button>
                    </div>
                </div>

                <div id="why-dham">
                    <div class="container pleft">
                        <h2>{{ groups.title }}</h2>
                        <p>{{ groups.description }}</p>
                        <ul class="boxcapabilitys">
                            <li class="boxcapability" *ngFor="let group of groups.groupsArray">
                                <h5>{{ group.title }}</h5>
                                <p>{{ group.description }}</p>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="network-partners">
                    <div class="container pleft">
                        <div class="boxcapabilitys">
                            <ngx-slick-carousel #benfitsModal="slick-carousel" class="carousel"
                                [config]="slideConfignew" style="width: 100%;">

                                <div ngxSlickItem class="slide boxcapability"
                                    *ngFor="let partnernetwork of partnernetwork">
                                    <img [src]="partnernetwork.image" alt="Network Partners Logo" />
                                    <h5>{{partnernetwork.title}}</h5>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
                <div id="relatedSection">
                    <div class="container pleft">
                        <h3>Related Solutions</h3>
                        <ul>
                            <li *ngFor="let relatedSolution of relatedSolutions">
                                <h5>{{ relatedSolution.title }}:</h5>
                                <p>{{ relatedSolution.description }}</p>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="partners-section">
                    <div class="container pleft">
                        <h2>{{ partners.title }}</h2>
                        <p>{{ partners.description }}</p>
                        <button class="btnBottom">{{ partners.button }} <img src="../../assets/right-arrow-white.svg"
                                alt=""></button>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>